.footerContainer {
  background-color: #28242c;
  text-align: center;
  color: white;
  bottom: 0;
  height: 5vh;
  width: 100%;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: row;
  z-index: 2;
}


.footerIcon {
  width: auto;
}


.footerMessage {
  width: auto;
  margin: 0;
  flex-grow: 1;
}
