.headerContainer {
  background-color: #28242c;
  color: white;
  height: 12.5vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.headerTitle {
  margin: 0;
  font-weight: 700;
}

.headerSubtitle {
  margin: 0;
  font-weight: 500;
}
