.headerContainer {
  background-color: #28242c;
  color: white;
  top: 0;
  height: 12vh;
  width: 100%;
  position: absolute;
  text-align: center;
  background-color: black;
  color: white;
  z-index: 2;
}

.headerTitle {
  margin: 0;
  font-weight: 700;
}

.headerSubtitle {
  margin: 0;
  font-weight: 500;
}
